name: Publish

on:
    workflow_dispatch:

    push:
        branches:
            - main

        paths:
            - package*.json
            - .github/workflows/publish.yaml

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"

            - name: Check package version
              id: cpv
              uses: PostHog/check-package-version@v2
              continue-on-error: true

            - name: npm publish
              if: steps.cpv.outputs.is-new-version == 'true' || steps.cpv.outcome == 'failure'
              run: |
                  rm -rf package-lock.json
                  npm i
                  npm run build
                  npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
